<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.zoho.tests.InvalidLogin"/>
      <class name="com.zoho.tests.ValidLoginLogout"/>
      <class name="com.zoho.tests.VerifyVersion"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
